.todo-app{
    color: #D9D9D9;
    border-radius: 10px;
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: rgb(0, 0, 0, .5);
    .main-alltodos {
        color: #D9D9D9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        .todo-text-complete{
            
            color: #1DF2DD;
            text-decoration: underline;
    
        }
        form{
            input:focus {
                outline: none !important;
                border:none;
                box-shadow: 0 0 5px #719ECE;
              }
            .edit-input{
                background: transparent;
                border-style: none;
                color: #D9D9D9;
                height: 30px;
            }
            .edit-button{
                border-radius: 50%;
                margin-left: 10px;
                width: 30px;
                height: 30px;
                border-style: none;
                color: #000000;
                background-color: #1DF2DD;
            }
        }

        .todo {
            display: flex;
            border: #0A4DA6 1px solid;
            border-radius: 10px;
            width: 200px;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 3px;
            height: 50px;
            width: 380px;
            padding: 0 10px 0 10px;
        }
        .complete{
            border: #1DF2DD 1px solid;
            text-decoration: line-through;
        }
    
        .todo-icons{
            display: flex;
            flex-direction:row;
            div{
                padding: 10px;
            }
        }
    }
}

